auto
**.aux
**.log
**.lot
**.nav
**.toc
**.out
**.snm
**.fls
**.fdb_latexmk
/lectures/lecture-beamer.pdf
/lectures/lecture-handout.pdf
/lectures/lecture.pdf

/lectures/lecture.feelpp.handout.pdf
/lectures/lecture.feelpp.slides.pdf
